<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navbar.ejs') %>
    <h1>Some error occured!</h1>
    <p>We'r working on fixing this, sory for the inconvenience!</p>

    <%- include('includes/end.ejs') %>